body {
    background: #eae8fe;
}

.vending-area {
    width: 360px;
    height: 545px;
    background: #fff;
}

.money-area {
    width: 360px;
    height: 50px;
    background: #fff;
    padding: 9px 27px;
}

.money-box {
    background: #eae8fe;
    height: 100%;
    border-radius: 5px;
    display: flex;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 500;
    line-height: 20.27px;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;


}

.money-box .strong {
  font-weight: 700;
}

.get-cola-area {
    width: 360px;
    height: 474px;
    background: #fff;
}
